<style>body {
    background-color: #f4f7ff;
}</style>

<%= form_for :character do |f| %>
  <div class="input-line-reg">

    <p >
      Основная информация
    </p>


    <%= label_tag :character_name, 'Имя персонажа:', class:"input-text-reg" %>
    <%= f.text_field :character_name, class:"input_field" %>

    <%= label_tag :background, 'Предыстория:', class:"input-text-reg" %>
    <%= f.text_field :background, class:"input_field" %>

    <%= label_tag :race, 'Расса:', class:"input-text-reg" %>
    <%= f.text_field :race, class:"input_field" %>

    <%= label_tag :alignment, 'Мировозрение:', class:"input-text-reg" %>
    <%= f.text_field :alignment, class:"input_field" %>




    <%= label_tag :exp, 'Опыт:', class:"input-text-reg" %>
    <%= f.number_field :exp, class:"input_field" %>

    <%= label_tag :lvl, 'Уровень:', class:"input-text-reg" %>
    <%= f.number_field :lvl, class:"input_field" %>

    <%= label_tag :inspiration, 'Вдохновение:', class:"input-text-reg" %>
    <%= f.check_box :inspiration, class:"input_field" %>

    <%= label_tag :armor_class, 'Класс защиты:', class:"input-text-reg" %>
    <%= f.number_field :armor_class, class:"input_field" %>




    <%= label_tag :initiative, 'Инициатива:', class:"input-text-reg" %>
    <%= f.number_field :initiative, class:"input_field" %>

    <%= label_tag :speed, 'Скорость:', class:"input-text-reg" %>
    <%= f.number_field :speed, class:"input_field" %>

    <%= label_tag :max_hp, 'Максимальный уровень здоровья:', class:"input-text-reg" %>
    <%= f.number_field :max_hp, class:"input_field" %>

    <%= label_tag :curr_hp, 'Текущий уровень здоровья:', class:"input-text-reg" %>
    <%= f.number_field :curr_hp, class:"input_field" %>


    <%= label_tag :temporary_hp, 'Временный бонус здоровья:', class:"input-text-reg" %>
    <%= f.number_field :temporary_hp, class:"input_field" %>

    <%= label_tag :money, 'Медные монеты:', class:"input-text-reg" %>
    <%= f.number_field :money, class:"input_field" %>


    <p >
      Характеристика персонажа
    </p>



    <%= label_tag :strength, 'Сила:', class:"input-text-reg" %>
    <%= f.number_field :strength, class:"input_field" %>

    <%= label_tag :dexterity, 'Ловкость:', class:"input-text-reg" %>
    <%= f.number_field :dexterity, class:"input_field" %>


    <%= label_tag :constitution, 'Телосложение:', class:"input-text-reg" %>
    <%= f.number_field :constitution, class:"input_field" %>

    <%= label_tag :intelligence, 'Интелект:', class:"input-text-reg" %>
    <%= f.number_field :intelligence, class:"input_field" %>

    <%= label_tag :wisdom, 'Мудрость:', class:"input-text-reg" %>
    <%= f.number_field :wisdom, class:"input_field" %>

    <%= label_tag :charisma, 'Харизма:', class:"input-text-reg" %>
    <%= f.number_field :charisma, class:"input_field" %>




    <p >
      Спасброски
    </p>


    <%= label_tag :strength_throws, 'Сила:', class:"input-text-reg" %>
    <%= f.check_box :strength_throws, class:"input_field" %>

    <%= label_tag :dexterity_throws, 'Ловкость:', class:"input-text-reg" %>
    <%= f.check_box :dexterity_throws, class:"input_field" %>


    <%= label_tag :constitution_throws, 'Телосложение:', class:"input-text-reg" %>
    <%= f.check_box :constitution_throws, class:"input_field" %>

    <%= label_tag :intelligence_throws, 'Интелект:', class:"input-text-reg" %>
    <%= f.check_box :intelligence_throws, class:"input_field" %>

    <%= label_tag :wisdom_throws, 'Мудрость:', class:"input-text-reg" %>
    <%= f.check_box :wisdom_throws, class:"input_field" %>

    <%= label_tag :charisma_throws, 'Харизма:', class:"input-text-reg" %>
    <%= f.check_box :charisma_throws, class:"input_field" %>


    <p >
      Перки персонажа
    </p>


    <%= label_tag :acrobatics, 'Акробатика:', class:"input-text-reg" %>
    <%= f.number_field :acrobatics, class:"input_field" %>

    <%= label_tag :animal_handling, 'Уход за животными:', class:"input-text-reg" %>
    <%= f.number_field :animal_handling, class:"input_field" %>

    <%= label_tag :arcana, 'Магия:', class:"input-text-reg" %>
    <%= f.number_field :arcana, class:"input_field" %>

    <%= label_tag :athletics, 'Атлетика:', class:"input-text-reg" %>
    <%= f.number_field :athletics, class:"input_field" %>

    <%= label_tag :deception, 'Обман:', class:"input-text-reg" %>
    <%= f.number_field :deception, class:"input_field" %>

    <%= label_tag :history, 'История:', class:"input-text-reg" %>
    <%= f.number_field :history, class:"input_field" %>

    <%= label_tag :insight, 'Проницательность :', class:"input-text-reg" %>
    <%= f.number_field :insight, class:"input_field" %>

    <%= label_tag :intimidation, 'Запугивание:', class:"input-text-reg" %>
    <%= f.number_field :intimidation, class:"input_field" %>

    <%= label_tag :investigation, 'Анализ:', class:"input-text-reg" %>
    <%= f.number_field :investigation, class:"input_field" %>

    <%= label_tag :medicine, 'Медицина:', class:"input-text-reg" %>
    <%= f.number_field :medicine, class:"input_field" %>

    <%= label_tag :nature, 'Природа:', class:"input-text-reg" %>
    <%= f.number_field :nature, class:"input_field" %>

    <%= label_tag :perception, 'Восприятие:', class:"input-text-reg" %>
    <%= f.number_field :perception, class:"input_field" %>

    <%= label_tag :performance, 'Выступление:', class:"input-text-reg" %>
    <%= f.number_field :performance, class:"input_field" %>

    <%= label_tag :persuasion, 'Убеждение:', class:"input-text-reg" %>
    <%= f.number_field :persuasion, class:"input_field" %>

    <%= label_tag :religion, 'Религия:', class:"input-text-reg" %>
    <%= f.number_field :religion, class:"input_field" %>

    <%= label_tag :sleight_of_hand, 'Ловкость рук:', class:"input-text-reg" %>
    <%= f.number_field :sleight_of_hand, class:"input_field" %>

    <%= label_tag :stealth, 'Скрытность:', class:"input-text-reg" %>
    <%= f.number_field :stealth, class:"input_field" %>

    <%= label_tag :survival, 'Выживание:', class:"input-text-reg" %>
    <%= f.number_field :survival, class:"input_field" %>

  </div>
  <div >
    <%= f.submit 'Создать', class:"submit" %>
  </div>

<% end %>