<style>body {
    background-color: #f4f7ff;
}</style>

<nav>
  <%= button_to "Назад", root_path, method: :get%>
</nav>

<%= form_for :room, class: 'room_data_form' do |f| %>

  <div class="input_item">
    <%= label_tag :room_name, 'Название лобби' %>
    <%= f.text_field :room_name %>
  </div>
  <div class="input_item">
    <%= f.submit 'Создать', class:"home_button" %>
  </div>
<% end %>