<style>body {
    background-color: #f4f7ff;
}</style>

<nav>
  <%= button_to "Назад", root_path, method: :get, class:"back_button"%>
</nav>

<div style="margin:30vh">
<%= form_for :room, class: 'room_data_form' do |f| %>

  <div class="lobby-container">
    <%= label_tag :room_name, 'Название лобби:', class:"input_text-lobby" %>
    <%= f.text_field :room_name, class:"input_field-lobby" %>
  </div>
    <div style="text-align: center">
    <%= f.submit 'Создать', class:"home_button" %>
    </div>
<% end %>
</div>