<% content_for :head do %>
  <%= javascript_import_module_tag  "show" %>
<% end %>
<div>
  <input type="hidden" id="player_id" value="<%= @current_user.id %>">

    <div class="chat-container">

      <nav>
        <%= button_to "Назад", root_path, method: :get, class: "back_button" %>
      </nav>
      <div class="chat-text">Код подключения: <%= @room_tag %></div>

      <div id='chat-box' class="chat-box">
        <% @messages.each do |message|
          message %>
          <%= render "#{message.direction(@current_user.id)}", message: message %>
        <% end %>
      </div>
      <%= form_with id: 'message-form' do |f| %>
        <%= f.text_area :body,id: :message_body, class:"message-input" %>
        <div style="text-align: center">
          <%= f.submit 'Отправить', class:'submit-button'  %>
        </div>
      <% end %>
    </div>
</div>