<% content_for :head do %>
  <%= javascript_import_module_tag  "show" %>

<% end %>
<div>
  <div id='chat-box'>
    <%@messages.each do |message| message  %>
      <%= render "#{message.direction(@current_user.id)}", message: message %>
    <% end %>
  </div>
  <%= form_with id:'message-form' do |f| %>
    <div>
      <%= label_tag :body, 'текст' %>
      <%= f.text_field :body, id: 'message_body' %>
    </div>
    <div style="text-align: center">
      <%= f.submit 'отправить'  %>
    </div>
  <% end %>
</div>