<%= stylesheet_link_tag 'application.css' %>

<div class="login_header" style="display:flex;">

<nav>
  <a href="/register">Регистрация</a>
</nav>

<h1> <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
  Dragons & Gems</h1>
      <a style="visibility: hidden" href="/register">Регистрация</a>
</div>

<div class="content-container" style="text-align: center">
  <%= image_tag ("drakosha.png"), class: "image" %>

  <div class="error-display">
  <%= render 'shared/errors'%>
  </div>
  <div class="input-line">
  <%= form_for :player, class: 'user_data_form' do |f| %>
      <%= label_tag :email, 'Email:', class: "input_text" %>
      <%= f.email_field :email, class: "input_field" %>

      <%= label_tag :password, 'Пароль:', class: "input_text" %>
      <%= f.password_field :password, class: "input_field" %>
  </div>
      <%= f.submit 'Войти', class: "submit"%>
  <% end %>
    <%= button_to "Log In with Google", "/auth/google_oauth2", class: "submit" %>
</div>
</html>