<nav>
  <%= link_to 'Регистрация', register_path %>
</nav>

<%= render 'shared/errors' %>
<%= image_tag ("drakosha.png") %>
<%= form_for :player, class: 'user_data_form' do |f| %>
  <div class="input_item">
    <%= label_tag :email, 'Email' %>
    <%= f.email_field :email %>
  </div>
  <div class="input_item">
    <%= label_tag :password, 'Пароль' %>
    <%= f.password_field :password %>
  </div>
  <div class="input_item">
    <%= f.submit 'Войти' %>
  </div>
<% end %>